*.jpg
*.mov
*.dav

*.pem


*.zip

*.pyc
*.pkl
*.mat
*.xml
*.html*


*.png

CSVs/
! CSVs/test_dir30_grey_ftr.csv
! CSVs/test_dir30_lbl.csv
! CSVs/train_dir30_grey_ftr.csv
! CSVs/train_dir30_lbl.csv

label_data/
